/* stylesheet for wikiAPI */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}
body div {
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: 1% 0 0 0;
    padding: 1%;
    color: white;
    background: rgb(99, 121, 100);
}
a, a:visited {
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    padding: 0 1%;
}
a:hover{
    text-shadow: 0 0 10px rgb(255, 150, 136);
}